@charset "UTF-8";

li {
  list-style: none;
}

div.page-main {
  margin: auto;
  padding: 0 10px 100px;
  width: 960px;
}

ul.gallery {
  margin: 0;
  padding: 0;
}

ul.gallery:after {
  content: "";
  display: block;
  clear: both;
}

/* JSON 파일로 데이터 받았을 때 생성할 element */
.gallery-item {
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  background: silver;
  padding: 20px;
  animation: fadeIn 1s;
}

.gallery-item:nth-child(4n) {
  margin-right: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* 이미지를 로딩하는 동안 보이지 않게 함 */
.gallery-tem.is-loading {
  opacity: 0;
}

.load-more.hidden {
  display: none;
}
